#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  height: 8rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#header input {
  width: clamp(20rem, 30%, 25rem);
  height: 25%;
}

body {
  margin: 0 auto;
  display: flex;
  max-width: 1700px;
}

#search-results {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  height: 50rem;
  width: 80%;
}